.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: url('header-tit.jpg') no-repeat;
  background-size: cover;  
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-header img{
  max-width: 70%;
}

.App-link {
  color: #61dafb;
}

.title{
  background: #71c239;
  padding: 20px 0;
  color: wheat;
  width: 100%;
  text-align: center;  
}

.intro{
  color: #2f5e09;
  margin: 0 auto;
  width:70%;
  font-style: italic;  
  margin-bottom: 50px;
  font-size: 17px !important;
}

.intro p{
  font-size: 21px;
  line-height: 32px;
  text-align: justify;
}

.maskbookLogo{
  height: 30px;
  width: auto;
}

.lfhLogo{
  height: 90px;
  width: auto;
}

.ylfLogo{
  height: 100px;
  width: auto;
}

.important{
  font-style: italic;
  font-size: 15px !important;
  line-height: 16px;  
  font-weight: 500;
  color: #1e3f03;  
}

footer{
  border-top: 1px solid #e2e2e2;
  width: 30%;
  margin: 80px auto 0;
  padding: 15px 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}